<!-- Modal -->
<div class="modal fade" id="show_ground" role="dialog">
    <%= simple_form_for @stop_action do |f| %>
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                         <div class="form-group">
                            <%= @stop_action.code %>
                        </div>
                        <div class="form-group">
                            <%= @stop_action.name %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
      </div>
    <% end %>
</div>