<div id="<%= dom_id user_conf %>">
  <p>
    <strong>Ref:</strong>
    <%= user_conf.ref %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_conf.user_id %>
  </p>

  <%= image_tag user_conf.cachet %>

</div>
