<h1>Editing user conf</h1>

<%= render "form", user_conf: @user_conf %>

<br>

<div>
  <%= link_to "Show this user conf", @user_conf %> |
  <%= link_to "Back to user confs", user_confs_path %>
</div>
