<p style="color: green"><%= notice %></p>

<h1>User confs</h1>

<div id="user_confs">
  <% @user_confs.each do |user_conf| %>
    <%= render user_conf %>
    <p>
      <%= link_to "Show this user conf", user_conf %>
    </p>
  <% end %>
</div>

<%= link_to "New user conf", new_user_conf_path %>
