<div class="modal fade" id="show_cost" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content py-2">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Show Frais</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
        <div class="modal-body mx-3">
          <div class="row border py-2 px-1">
            <div class="col-sm">
              <span class="font-weight-bold d-block my-1"> Nom: </span>
              <span class="font-weight-bold d-block my-1"> pourcentage: </span>
            </div>
            <div class="col-sm">
              <div class="w-100 my-1 text-capitalize"><%= @cost.name %></div>
              <div class="w-100 my-1 text-capitalize"><%= @cost.percentage %>%</div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-raised btn-warning" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>