<h1>Editing affectation</h1>

<%= render "form", affectation: @affectation %>

<br>

<div>
  <%= link_to "Show this affectation", @affectation %> |
  <%= link_to "Back to affectations", affectations_path %>
</div>
