<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>Bonjour!</p>
    <p>Le <%= @furlough.furlough_type.name %> que vous avez demandé à partir de <%= @furlough.start %> jusqu'a <%= @furlough.end %> à été approuvé!</p>
                                                     
  </body>
</html>